.inb-contact-info {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    li {
      width: 25%;
      padding: 0 0.625rem 0.625rem;
      transition: 0.3 all;
      &:hover {
        .img {
          img {
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
            border: 3px solid $main-sec;
          }
        }
      }
      @media #{$lg} {
        flex-wrap: wrap;
        width: 33.33%;
      }
      @media #{$md} {
        width: 50%;
        flex-wrap: wrap;
      }
      @media #{$sm} {
        border-bottom: 1px solid #e0e1e2;
        flex-wrap: nowrap;

        padding: 1.25rem 0;
        width: 100%;
      }

      .img {
        margin: 0.625rem 0;
        img {
          width: 75px;
          height: 75px;
          border-radius: 100%;
          display: block;
          border: 1px solid transparent;
          @media #{$lg} {
            width: 50px;
            height: 50px;
          }
        }
      }
      .inf {
        h3 {
          font-family: "Playfair Display", serif;
          margin: 0;
          padding: 0;
          font-size: 21px;
          transition: 0.3 all;
          &:hover {
            color: $main;
          }
        }
        .team__pos {
          color: $main;
          margin-bottom: 0.75rem;
          display: block;
          font-size: 0.875rem;
        }
        a {
          display: block;
          margin-bottom: 5px;
          transition: 0.3 all;
          font-size: 0.875rem;
          &:hover {
            span {
              color: $main;
            }
          }
          svg {
            margin-right: 0.325rem;
          }
          span {
            color: $black;
          }
        }
      }
    }
  }
}
