.about-us {
  position: relative;
  // margin-top: 3.125rem;
  // margin-top: -50px;
  .about-us__space {
    position: absolute;
    z-index: -1;
    top: 0;
    width: calc(100vw - 60px);
    height: 100%;
    margin-left: -50vw;
    left: calc(50% + 35px);

    .wraper {
      height: 100%;
      width: 100%;
      display: flex;
      @media #{$sm} {
        flex-wrap: wrap;
      }
      &:before {
        content: "";
        width: 30%;
        position: relative;
        height: 50%;
        background-color: $main-sec;
        @media #{$xlg} {
          width: 30%;
          height: 300px;
        }
        @media #{$lg} {
          height: 200px;
        }
        @media #{$md} {
          height: 200px;
        }
        @media #{$sm} {
          width: calc(30% + 20px);
          height: 50%;
          background-color: $main-sec;
          left: -35px;
        }
      }
      &:after {
        content: "";
        width: 70%;
        padding-left: 3.125rem;
        padding-top: 3.125rem;
        padding-right: calc((100% - 1300px) / 2);
        @media #{$xlg} {
          width: 65%;
        }
        @media #{$sm} {
          width: 70%;
          padding: 0;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }
  .about-us__wraper {
    display: flex;
    align-items: center;
    @media #{$sm} {
      flex-wrap: wrap;
    }
    .col:nth-child(1) {
      width: 50%;
      align-self: stretch;
      @media #{$sm} {
        width: 100%;
      }
      img {
        width: 100%;
        height: auto;
        margin-top: 50px;
        position: -webkit-sticky;
        position: sticky;
        top: 3.188rem;

        @media #{$sm} {
          max-width: 200px;
          margin: 0;
        }
      }
    }
    .col:nth-child(2) {
      width: 50%;
      margin-top: 50px;
      @media #{$sm} {
        width: 100%;
        margin-top: 0;
      }
    }
  }
}

.align-top {
  .about-us__wraper {
    align-items: flex-start !important;
  }
}
