.inb-offert-grid {
  ul {
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    li {
      width: 25%;
      margin-bottom: 10px;
      @media #{$lg} {
        width: 50%;
      }
      @media #{$xs} {
        margin-bottom: -1px;
        width: 100%;
      }
    }
  }
}
