// Query
$xs: "only screen and (max-width: 460px)";
$sm: "only screen and (max-width: 768px)";
$md: "only screen and (max-width: 998px)";
$lg: "only screen and (max-width: 1200px)";
$gl: "only screen and (min-width: 1200px)";
$xlg: "only screen and (max-width: 1400px)";

// Colors
$main: #3497db;
$main-sec: #f3faff;
$main-tir: #898b8d;
$light: #f4f4f4;
$black: #010202;
$light-black: #525456;
